[Nn]ode_modules/
[Dd]ata/
[Ll]ogs/
[Tt]est/
.codex/
.claude/
.agent/

.env
token.json
*.py*
.prettierrc
.prettierignore
.gitignore
*.test.*

./types/
./src/
./index.ts
./tests/
./test/

package-lock.json
pnpm-lock.yaml
