node_modules/
data/
logs/
coverage/
types/
src/
index.ts
tests/
test/
.codex/
.claude/
.agent/

.env
token.json
*.py*
.prettierrc
.prettierignore
.gitignore
*.test.*


package-lock.json
pnpm-lock.yaml
